.navbar-nav .nav-link {
    margin: 0 1rem;
    font-size: 10px;
}
.navbar-nav .nav-link:hover {
    color: #6EC4A4 !important;
}
.navbar-nav .active {
    color: #6EC4A4 !important;
}
.navbar-brand:hover {
    color: black !important;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);    
}
.dropdown-menu {
    min-width: 13rem;
    border: 2px solid #fbfbfb;
    transition: display 1.5s linear 1s;
}
.dropdown-menu .nav-link {
    margin: auto !important;
    padding: 0px 0px 5px 0px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.form-select {
    margin-right: 40px;
}
.btn-nav {
    font-size: 12px;
}
.btn-nav:hover {
    color: white;
    background-color: #6EC4A4;
}
.body-panel {
    margin-top: 50px;
}
.join-panel {
    margin-top: 65px;
}
.join-txt {
    font-family: TT Norms;
    font-size: 38px;
    color:  #6EC4A4;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}
.btn-join {
    font-size: 12px;
    border: 1px solid #6EC4A4;
    color: #6EC4A4;
}
.btn-join:hover {
    color: white;
    background-color: #6EC4A4;
}
.join-padding {
    padding-left: 60px;
}
.post-panel {
    width: 100%;
    background-color: #6EC4A4;
    border-radius: 5px;
    margin-top: 100px;
}
.post-item {
    padding:20px 50px;
    color: white;
    font-weight: bold;
}
.post-title {
    margin-bottom: 5px;
    font-size: 12px;
}
.post-description {
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
}
.post-icon {
    float: right;
    font-size: 12px;
    color: #6EC4A4;
    transition: all .5s;
}
.btn-post {
    font-size: 12px;
    background-color: white;
    color: black;
    width: 100%;
    border: 1px solid #6EC4A4;
    border-radius: unset;
}
.btn-skill {
    font-size: 10px;
    width: 15%;
    border-radius: unset;
    border: 1px solid black;
}
.btn-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.btn-skill:hover {
    color: #6EC4A4;
    border: 1px solid #6EC4A4;
}
.img-title {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
}
.img-desc {
    font-size: 8px;
    opacity: 0.8;
}
.left-side {
    padding: 100px;
    background-color: #6EC4A4;
    z-index: 2;
}
.left-title {
    color:white;
    font-family: TT Norms;
    font-size: 40px;
    line-height: 1;
}
.left-desc {
    color: white;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
}
.btn-side {
    font-size: 12px;
    border: 1px solid white;
    color: white;
    border-radius: unset;
}
.btn-side:hover {
    color: #6EC4A4;
    background-color: white;
}
.right-side {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 105%;
    background-color: white;
    z-index: 3;
}
.right-img-title {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 3px;
}
.right-img-desc {
    font-size: 8px;
    opacity: 0.8;
    max-height: 35px;    
    overflow: hidden;
}
.slider-panel {
    position: relative;
    top: -10px;
}
.slider-board {
    background-color: black;
    padding: 70px 0px;
    text-align: center;
}
.slider-header {
    color: white;
    font-size: 30px;
}
.carousel-indicators button {
    border-radius: 50% !important;
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #6EC4A4 !important;
    background-color: transparent !important;
}
.carousel-indicators > button.active {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #6EC4A4 !important;
}
.how-panel {
    background-image: url("../image/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 50px 30px 50px;
    margin: 20px 0px; 
}
.how-txt {
    font-size: 20px;
    color: white;
}
.number-badge {
    width:20px;
    height: 20px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #6EC4A4;
    color: white;
}
.how-desc {
    max-height: 45px;
    overflow: hidden;
    font-size: 10px;
}
.btn-links {
    font-size: 25px;
    font-weight: bold;
    border: unset;
    cursor: pointer;
    background-color: white;
    margin-right: 30px;
    opacity: 0.05;
}
.btn-links:hover {
    color: #6EC4A4;
    opacity: 1;
}
.btn-links.active {    
    opacity: 1;
}
.btn-links.active:hover {    
    color: black;
}
li {
    margin-bottom: 5px;
}
#toTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 98;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 6px;
    text-align: center;
    color: #6EC4A4;
    font-size: 25px;
}
.js .cd-top--fade-out {
    opacity: .5
}
.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}
.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}
.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
}
@media (max-width: 992px) {
    .dropdown-menu-center {
        right: 0%;
        left: 0%;
        -webkit-transform: translate(0%, 0);
        -o-transform: translate(0%, 0);
        transform: translate(0%, 0);     
    }
    .dropdown-menu {
        width: 230px;
    }
    .dropdown-menu .nav-link {
        padding: 0px 10px 5px;
        text-align: left;
    }
    .body-panel {
        margin-top: 30px;
    }
    .post-panel {        
        margin-top: 60px;
    }
    .post-item {
        padding:20px 30px;
    }
    .join-padding {
        padding: 0px 12px;
        margin-bottom: 10px;
    }
    .left-side {
        padding: 50px;
        background-color: #6EC4A4;
    }
    .right-side {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100%;
        background-color: white;
    }
    .slider-header {
        font-size: 25px;
    }    
}
@media (max-width: 768px) {
    .btn-panel {
        display: initial;
        text-align: center;
    }
    .btn-skill {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .body-panel,.join-panel {
        margin-top: 30px;
    }
    .left-side {
        padding: 40px;
        background-color: #6EC4A4;
    }
    .right-side {
        position: relative;
        top: 0px;
        right: 0px;
        width: auto;
    }
    .slider-panel {
        top: 0px;
    }
    .slider-board {
        padding: 40px 0px;
    }
    .slider-header {
        font-size: 20px;
    }
    .how-panel {
        padding: 50px 20px 10px 20px;    
    }
    .how-txt {
        font-size: 15px;
    }
    .btn-links {
        font-size: 15px;
        font-weight: bold;
        margin-right: 15px;
    }
}
@media (max-width: 578px) {
    .body-panel,.join-panel {
        margin-top: 20px;
    }
    .post-panel {        
        margin-top: 30px;
    }
    .post-item {
        padding:10px;
    }
    .left-side {
        padding: 20px;
        background-color: #6EC4A4;
    }
    .slider-board {
        padding: 20px 0px;
    }
    .how-panel {
        padding: 20px;    
    }
    .how-txt {
        font-size: 12px;
    }
    .btn-links {
        font-size: 12px;
        font-weight: bold;
        margin-right: 5px;
    }
}
