@font-face {
    font-family: 'TT Norms';
    src: local('TT Norms Extra Bold'), local('TT-Norms-Extra-Bold'),
        url('TTNorms-ExtraBold.woff2') format('woff2'),
        url('TTNorms-ExtraBold.woff') format('woff'),
        url('TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }